@import './vars.scss';

*,
*:after,
*:before {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--font-family-secondary);
	font-size: 18px;
}
code {
	font-family: var(--font-family-code);
} 
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
  color: var(--link-color-hover);
  cursor: pointer;
}
li {
  list-style: none;
}

@font-face {
  font-family: 'Hey August';
  src: url("../../fonts/Hey-August.otf") format("otf"),
      url("../../fonts/Hey-August.ttf") format("ttf"),
}