@import './vars.scss';

.featuredImage {
  height: auto;
  width: 70%;
  object-fit: contain;
  margin: 5rem auto 0 auto;
  z-index: 500;

  @media screen and (min-width: $breakpoint-sm) {
    width: 30rem;
  }
}


.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--title-color);
  font-family: var(--font-family-primary);
  margin: 5rem 0 0 0;

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 4rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 5rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 6.5rem;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 8rem;
  }
}

.tagline {
  font-size: 1.2rem;
  color: var(--title-color);
  margin: 0;
  font-family: var(--font-family-primary);

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}


.container_page {
  width: 100%;
  background: var(--background-color);
}

.container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_splash {
  background-color: #D0E0E4;
  height: 100rem;
  width: 100%;
  position: absolute;
  top: 35rem;
  z-index: 1;
  transform: skewY(7deg);
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: $breakpoint-xl) {
    height: 80rem;
  }
}