@import './vars.scss';

.featuredImage {
  height: auto;
  width: 70%;
  object-fit: contain;
  opacity: 30%;

  @media screen and (min-width: $breakpoint-sm) {
    width: 30rem;
  }
}


.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--title-color);
  font-family: 'Kaushan Script';
  margin: 0;

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 4rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 5rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 6.5rem;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 8rem;
  }
}

.tagline {
  font-size: 1.2rem;
  color: var(--title-color);
  margin: 0;
  font-family: 'Kaushan Script';

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}

.fullScreenCenter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  z-index: 500;
  @extend .fullScreenCenter;
}

.imageContainer {
  z-index: 100;
  @extend .fullScreenCenter;
}

.pageContainer {
  height: 100vh;
  width: 100%;
  background: var(--background-color);
}

.down_arrow {
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
}