@import './vars.scss';


/* MENU BUTTON */
.menu_trigger.active .icon_menu {
  display: none;
}


/* CLOSE BUTTON */
.menu_trigger .icon_close {
  display: none;
}
.menu_trigger.active .icon_close {
  display: block;
}


/* MENU BUTTON WRAPPER */
.menu_trigger {
  background: transparent;
  outline: none;
  border-style: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}


/* DRAWER */
.drawer {
  position: fixed;
  top: 0;
  left: -100vw;
  background: var(--nav-drawer-color);
  height: 100vh;
  width: 100%;
  z-index: 900;
  transition: all 0.2s ease-in-out;

  @media screen and (min-width: $breakpoint-sm) {
    width: 15rem;
    left: -15rem;
  }
}

.drawer.active {
  left: 0;
}


/* Navigation List */

.nav_list {
  margin-top: 10rem;
  padding: 0;
}

.nav_list li {
  width: 100%;
  text-align: center;
  height: 4rem;
  transition: all 0.2s ease-in-out;

  .link {
    line-height: 4rem;
    width: 100%;
    font-size: 1.5rem;
  }

  &:hover {
    background: var(--link-bg-hover);
    
    a {
      color: var(--link-color-hover);
    }
  
  }

  @media screen and (min-width: $breakpoint-sm) {
    height: 3rem;
    
    .link {
      line-height: 3rem;
      font-size: 1.3rem;

    }
    
  }
}


.overlay {
  background-color: rgba(49, 49, 49, 0);
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  &.active {
    background-color: rgba(24, 24, 24, 0.548);
    visibility: visible;
  }
}