@import './vars.scss';

.section {
  margin: 5rem auto 0 auto;
  z-index: 100;
  position: relative;
  max-width: 100%;

  @media screen and (min-width: $breakpoint-xl) {
    max-width: 70rem;
  }

    .section_title {
      margin-bottom: 5rem;
      margin-top: 0;
      color: #042C35;
      font-family: var(--font-family-secondary);
      text-align: center;
    }


    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @media screen and (min-width: $breakpoint-xl) {
        grid-template-columns: repeat(3, 1fr);
      }
      
    }

}

.button_more {
  border: solid black 1px;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 10rem;
  margin: 5rem auto 0 auto;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: black;
    color: white;

    .arrow {
      fill: white;
    }
  }


  .arrow {
    height: 100%;
    fill: black;
    transition: all 0.2s ease-in-out;
  }
}
