$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

  /* Global Styles */
  --font-family-primary: 'Kaushan Script';
  --font-family-secondary: 'sans-serif';
  --font-family-code: 'Roboto Mono';

  --link-color: white;
  --link-color-hover: grey;
  --link-bg-hover: white;
  --nav-drawer-color: #972a22;

  /* Home Page Variables */
  --title-color: white;
  --background-color: #351c23;
}