$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1500px;

:root {

  /* Global Styles */
  --font-family-primary: 'Hey August';
  --font-family-secondary: 'Roboto';
  --font-family-code: 'Roboto Mono';

  --link-color: white;
  --link-color-hover: grey;
  --link-bg-hover: white;
  --nav-drawer-color: #4A596A;
  --header-color: #3F454D;


  /* Home Page Variables */
  --title-color: #042C35;
  --background-color: #FAFCFC;
  --accent-color: #665D94;
  --projects-title-color: #fff;
}