$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

  /* Global Styles */
  --font-family-primary: 'Kaushan Script';
  --font-family-secondary: 'sans-serif';
  --font-family-code: 'Roboto Mono';

  --link-color: white;
  --link-color-hover: grey;
  --link-bg-hover: white;
  --nav-drawer-color: #75241e;
  --header-color: rgb(74, 90, 126);

  /* Home Page Variables */
  --title-color: white;
  --background-color: #351c23;
  --accent-color: rgb(92, 92, 92);
  --projects-title-color: #fff;
}